@import url("https://fonts.googleapis.com/css?family=Inter");

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body{
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0e1;
}

.wrapper{
     width: 60vw;
    height: 65vh;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
}

.wrapper .title{
    padding: 0 20px 0;
    justify-content: center;   
}

.board{
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    font-size: 25px;
}

.content{
    width: 100%;
    height: 60%;
    margin-top: 1%;
    overflow-y: auto;
}

.content::-webkit-scrollbar{
    width: 0;
}

.row{
    display: flex;
    height: 8%;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 30px;    
    align-items: center;
}

.Rank , .User , .Wpm , .Cpm , .Mistake{
    text-align: center;
    font-size: 25px;
    width: 20%;
    font-weight: 500;
}

.Rank{
    font-weight: 700;
}

.no1{
    background: #FFD700;
}

.no2{
    background: #C0C0C0;
}

.no3{
    background: #CD7F32;
}

.back button{
    border: none;
    outline: none;
    border: 1px solid #ccc;
    background: none;
    padding: 12px 0;
    width: 105px;
    border-radius: 5px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.back button:active{
    transform: scale(0.8);
}