@import url("https://fonts.googleapis.com/css?family=Inter");

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

html{
    background: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0e1;
}

.wrapper{
    width: 60vw;
    height: 65vh;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
}

.wrapper .title{
    padding: 0 20px 0;
    justify-content: center;
    display: flex;
}

.title button.result-button , .rotate-button{
    margin-left: auto;
}

.rotate-button{
    left: 20%;
    position: relative;
}

/* CSS for input field */
.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}

/* CSS for status */

.content-box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #ccc;
}

.content .result-details{
    display: flex;
}

.result-details{
    list-style: none;
    width: 83%;
    
    justify-content: space-between;
}

.result-details li:not(:first-child){
    padding-left: 22px;
    list-style: none;
    border-left: 1px solid #ccc;
}

.result-details li{
    font-size: 25px;
    display: flex;
    list-style-type: none;
}

.result-details li span{
    display: block;
    margin-left: 10px;
}

/* CSS for button */

.content button , .result-button , .rotate-button{
    border: none;
    outline: none;
    border: 1px solid #ccc;
    background: none;
    padding: 12px 0;
    width: 105px;
    border-radius: 5px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.content button:active , .result-button:active{
    transform: scale(0.8);
}

/* CSS for character */

.typing-text p span{
    position: relative;
    /* white-space: nowrap; */
}

.typing-text p span.correct{
    color: #56965f;
}

.typing-text p span.incorrect{
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active::before{
    content: "";
    /* position: absolute; */
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #d0efff;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}

.typing-text p span.active{
    background: #d0efff;
    border-radius: 4px;
}


/* CSS for text */
.wrapper .content-box{
    padding: 13px 20px 0;
}

.typing-text p{
    font-size: 30px;
    line-height: 1.6;
    text-align: justify;
    letter-spacing: 1px;
    padding: 1%;
}

.content-box .typing-text{
    height: 70%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

/* CSS for popup */
.popup {
    width: 30%;
    height: 40%;
    background-color: #E1E1F0;
    position: absolute;
    top: 30%;
    left: 50%;
    border: 0px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: flex;
    visibility: hidden;
  }
  
  .open-popup {
    visibility: visible;
    animation: expand 1s ease forwards;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  }
  
.popup-content{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.open-popup-content{
    animation: expand2 1.2s ease forwards;
}

/* .reverse {
    animation-direction: reverse;
} */

@keyframes expand2 {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes expand {
    0% {
      width: 1%;
      height: 1%;
      transform: translateX(0vw);
    }
    50% {
      width: 1%;
      height: 40%;
      transform: translateX(0vw);
    }
    100% {
      width: 30%;
      height: 40%;
      transform: translateX(-15vw);
    }
    /* animation-timing-function: linear; */
  }


  .left , .right {
    width: 50%;
    height: 100%;
}

.left{
    border-right: 1px solid #ccc;
    align-items: center;
    position: relative;
}

.right h5{
    font-size: 25px;
    padding-top: 10%;
}

.result{
    padding-top: 4%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.result li{
    list-style-type: none;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 30%;
    font-size: 25px;
    font-weight: 500;
}

.result li p{
    font-weight: 700;
}

.name-field{
    margin-top: 10%;
    padding-bottom: 8px;
    padding-left: 5px;
    width: 100%;
    margin-left: 3%;
    padding-top: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.right button{
    border: none;
    outline: none;
    border: 1px solid #ccc;
    background: none;
    padding: 12px 0;
    width: 105px;
    border-radius: 5px;
    font-weight: 700;
    display: block;
    margin-top: 10%;
    margin-left: 25%;
} 

button:hover {
    transform: scale(1.1);
}

.span-rotate{
    transform: scaleX(-1);
    display: inline-block;
    line-height: 1.5em;
}

.space{
    line-height: 1.5em;
}

.rotate-button{
    width: 40px;
}

.chart{
    top: 3%;
    width: 50%;
    height: 20%;
    position: absolute;
    display: none;
    background-color: #E1E1F0;
    border: 0px solid black;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
}

.myChart{
    margin: 0 auto;
}

.open-chart {
    visibility: visible;
    animation: expand-chart 1s ease forwards;
    /* box-shadow: 0 0 0 100vmax rgba(0,0,0,.3); */
}

    @keyframes expand-chart {
    0% {
        width: 1%;
        height: 1%;
        transform: translateX(0vw);
    }
    50% {
        width: 1%;
        height: 20%;
        transform: translateX(0vw);
    }
    100% {
        width: 50%;
        height: 20%;
        transform: translateX(0vw);
    }
    /* animation-timing-function: linear; */
    }

    .valid{
        font-size: 11px;
        position: fixed;
        margin-left: 2%;
        color: #cb3439;
        display: none;
    }

.remove-chart{
    animation: rev-expand-chart 1s ease forwards;
}

@keyframes rev-expand-chart {
    0% {
        width: 50%;
        height: 20%;
        transform: translateX(0vw);
    }
    50% {
        width: 1%;
        height: 20%;
        transform: translateX(0vw);
    }
    100% {
        width: 1%;
        height: 1%;
        transform: translateX(0vw);
    }
    /* animation-timing-function: linear; */
    }


.close-popup-content{
    animation: rev-expand2 1s ease forwards;
}

.close-popup{
    animation: rev-expand 1s ease forwards;
}

@keyframes rev-expand2 {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rev-expand {
    0% {
        width: 30%;
        height: 40%;
        transform: translateX(-15vw);
    }
    50% {
      width: 1%;
      height: 40%;
      transform: translateX(0vw);
    }
    100% {     
      width: 1%;
      height: 1%;
      transform: translateX(0vw);
    }
    /* animation-timing-function: linear; */
  }

